:root {
  --color-background: black;
  --color-text: white;
  --color-hover: #ff0000;
  --color-darkred: #630000;
  --transition-duration: 0.45s;
  --width-laptop: 78rem;
  --margin-laptop: 6rem;
  --gap-small: 0.85rem;
  --gap-medium: 2rem;
  --gap-large: 4rem;
  --gap-section: 8rem;
  --border-radius-small: 0.375rem;
  --border-radius-medium: 0.625rem;
  --border-width-small: 1px;
  --grid-skill-size: 20rem;
  --grid-skill-gradient: linear-gradient(120deg, #979797 3.4%, #131313 117.1%);
  --grid-skill-tamplate-columns: 20rem auto 20rem auto 20rem;
  --grid-skill-table-height: 10rem;
  --grid-skill-table-widht: 61rem;
  --projects-card-width: 20rem;
  --projects-card-height: 26rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

body {
  background-color: #111111;
  color: var(--color-text);
  max-width: var(--width-laptop);
  width: 78rem;
  margin: 0 var(--margin-laptop);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
  transition: color var(--transition-duration) ease;
}

section {
  padding: var(--gap-section) var(--gap-medium);
}

.c-geral-background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    302deg,
    rgb(235, 235, 235) 60%,
    rgba(0, 0, 0, 1) 60.1%
  );
  box-shadow: 6px 10px 13.2px 0px rgba(0, 0, 0, 0.35);
}
/* Navegação */
.c-navegation {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem 0 0.5rem 1rem;
  font-weight: 600;
}

.c-navegation__menu {
  display: flex;
  justify-content: flex-start;
}

.c-navegation__list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.c-navegation__item {
  cursor: pointer;
  transition: color var(--transition-duration) ease;
}

.c-navegation__item:hover {
  color: var(--color-hover);
}

/* Social Icons */
.c-navegation__social {
  display: flex;
  justify-content: flex-end;
}

.c-navegation__social__list {
  display: flex;
  gap: 0.1rem;
  list-style: none;
  margin: 0;
}

.social-contact__icon {
  width: 24px;
  height: 24px;
  margin-right: 1em;
}

.c-navegation__social__items a {
  transition: color var(--transition-duration) ease;
}

.c-navegation__social__items a:hover {
  color: var(--color-hover);
}

/* Introduction */

.c-introduction {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-small);
  align-items: center;
  padding: var(--gap-large) 0 0 0;

  background-color: #000;
}

/* Introduction messages */

.c-introduction__message {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.c-introduction__message__container {
  display: grid;
  grid-template-columns: 32rem;
  gap: var(--gap-small);
  justify-content: center;
  margin: auto;
}

.c-introduction__message p {
  font-size: 1.125rem;
  padding-right: 2rem;
}

.c-introduction__message p:nth-of-type(1) {
  font-style: normal;
}

.c-introduction__message span {
  background-color: var(--color-darkred);
  border-radius: 7.5rem 4px 7.5rem 4px;
}

.c-introduction__message a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  background-color: #898989;
  border: 1.5px solid white;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  gap: 10px;
  font-weight: 600;
}

.c-introduction__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.c-introduction__image__container {
  display: grid;
  grid-template-columns: 26rem 3rem;
  margin: auto;
}

.c-introduction__image img {
  width: 26rem;
  height: 26rem;
  border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
}

.c-introduction__image span {
  width: 3rem;
  height: 100%;
  background-color: var(--color-darkred);
}

.c-see-more-button {
  all: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 3rem;
  border-style: solid;
  border-color: white;
  border-width: var(--border-width-small);
  border-radius: var(--border-radius-small);
  font-size: 2rem;
  font-family: "Iceland", serif;
  margin: auto;
}

/* About */

.c-about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-large);
}

.c-about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: auto;
  background-image: url("../res/icon/about/title-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Iceland", serif;
  font-size: 5rem;
  margin: 0 auto;
}

.c-about img {
  width: 64rem;
}

.c-about__buttom {
  all: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 3rem;
  border-style: solid;
  border-color: white;
  border-width: var(--border-width-small);
  border-radius: var(--border-radius-small);
  font-size: 2rem;
  font-family: "Iceland", serif;
  margin: auto;
}

/* Skills */

.c-skills {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-large);
}

.c-skills a {
  margin-top: -2rem;
}

.c-skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: auto;
  background-image: url("../res/icon/skills/title-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Iceland", serif;
  font-size: 5rem;
  margin: 0 auto;
}

.c-skills__table {
  display: grid;
  gap: 0.7rem;
  width: auto;
  margin: 0 auto;
}

.c-skills__top-table {
  height: var(--grid-skill-table-height);
  display: grid;
  grid-template-columns: var(--grid-skill-tamplate-columns);
  justify-content: center;
  align-items: center;
  background-color: var(--color-darkred);
  border-radius: 0.5rem 8rem 0.5rem 0.5rem;
  border-width: var(--border-width-small);
  border-color: white;
  border-style: solid;
  box-shadow: 0.25rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.c-skills__top-table div {
  display: grid;
  grid-template-rows: 5rem 0.8rem;
  justify-content: center;
  align-items: start;
}

.c-skills__top-table img {
  margin: 0 auto;
}

.c-skills__middle-table {
  height: var(--grid-skill-table-height);
  display: grid;
  grid-template-columns: var(--grid-skill-tamplate-columns);
  justify-content: center;
  align-items: center;
  background-image: var(--grid-skill-gradient);
  border-radius: 0.5rem;
  border-width: var(--border-width-small);
  border-color: white;
  border-style: solid;
  box-shadow: 0.25rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.c-skills__middle-table div {
  display: grid;
  grid-template-rows: 5rem 0.8rem;
  justify-content: center;
  align-items: start;
}

.c-skills__middle-table img {
  margin: 0 auto;
}

.c-skills__bot-table {
  height: var(--grid-skill-table-height);
  display: grid;
  grid-template-columns: var(--grid-skill-tamplate-columns);
  justify-content: center;
  align-items: center;
  background-image: var(--grid-skill-gradient);
  border-radius: 0.5rem 0.5rem 0.5rem 8rem;
  border-width: var(--border-width-small);
  border-color: white;
  border-style: solid;
  box-shadow: 0.25rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.c-skills__bot-table div {
  display: grid;
  grid-template-rows: 5rem 0.8rem;
  justify-content: center;
  align-items: start;
}

.c-skills__bot-table img {
  margin: 0 auto;
}

.c-skills__bot-table div:nth-of-type(1) img {
  margin: -12px auto;
}

.c-skills__table__vertical-line {
  width: 1px;
  height: 70%;
  border-radius: 30%;
  background-color: white;
}

/* Projects */

.c-projects {
  width: 69rem;
  height: 63rem;
  display: grid;
  grid-template-rows: 8rem auto;
  justify-content: center;
  margin: 0 auto;
  gap: var(--gap-large);
  border-radius: 1rem;
  border: 0.5rem solid #250000;
  background: linear-gradient(
    328deg,
    #130000 31.73%,
    var(--color-darkred) 98.69%
  );

  box-shadow: 0.5rem 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.38);
}

.c-projects + svg {
  position: absolute;
  margin: -33.5rem 0;
  z-index: 1;
}

.c-projects__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  background-image: url("../res/icon/projects/title-backgorund.svg");
  background-repeat: no-repeat;
  background-position: center;

  font-family: "Iceland", serif;
  font-style: normal;
  font-size: 5rem;
  margin: -5rem auto 0 auto;
  z-index: 2;
}

.c-projects__category {
  display: flex;
  width: 60rem;
  justify-content: center;
  z-index: 2;
}

/* Projects hand image */

.c-projects__category div:first-child {
  background-image: url("../res/icon/projects/hand-background.svg");
  background-repeat: no-repeat;
  background-size: 20rem 24.4rem;
  background-position-x: center;
  display: grid;
  margin: auto;
}

.c-projects__category div:first-child img {
  margin: 0 auto;
}

/* Projects button */
.c-projects__button {
  all: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  background-color: white;
  border: var(--border-width-small) solid white;
  border-radius: 0.375rem;
  font: bold 1.125rem "Lato", serif;
  color: black;
  margin: 0;
}

/* Projects cards margins */

.c-projects__category div:nth-of-type(1) {
  margin-top: 10rem;
}
.c-projects__category div:nth-of-type(2) {
  margin-top: 5rem;
}
.c-projects__category div:nth-of-type(3) {
  margin-top: 0;
}

.c-projects__card {
  width: 23rem;
  height: 24.5rem;
  display: grid;
  justify-content: center;
  gap: var(--gap-medium);
  filter: drop-shadow(1rem 0.8rem 0.5rem #00000070);
}

.c-projects__card a {
  margin: 0 0 0 6.5rem;
}

.c-projects__card img {
  margin: auto;
  width: 12rem;
  width: 18rem;
}

.c-contact {
  display: grid;
  grid-template-rows: 8rem auto;
  justify-content: center;
  gap: var(--gap-large);
}

.c-contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../res/icon/contact/title-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  font-family: "Iceland", serif;
  font-style: normal;
  font-size: 5rem;
}

.c-contact__container {
  background-color: var(--color-darkred);
  width: 72rem;
  height: 32rem;
  margin-top: var(--gap-large);
  position: relative;
  box-shadow: 6px 10px 13.2px 0px rgba(0, 0, 0, 0.6);
}

.c-contact__content {
  background: linear-gradient(317deg, #131313 26.07%, #0f0f0f 104.46%);
  box-shadow: 14px 14px 20px 0px rgba(0, 0, 0, 0.3);
  width: 68rem;
  height: 32rem;
  position: absolute;
  top: -10%;
  left: 50%;
  translate: -50% 0;
  display: grid;
  align-items: center;
  grid-template-columns: 38rem 30rem;
  justify-content: center;
}

.c-contact__copy {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: var(--gap-small);
  justify-content: center;
  padding: 0 var(--gap-large);
}

.c-contact__copy * {
  margin: 0 auto;
}

.c-contact__copy h3 {
  font-size: 3.5rem;
  font-family: "Iceland", serif;
  font-weight: 300;
}

.c-contact__copy h4 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-family: "Lato", serif;
  font-weight: 500;
}

.c-contact__copy p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 28.8px */
}

.c-contact__social__list {
  display: flex;
  gap: var(--gap-small);
  align-items: center;
  list-style: none;
  margin: 0;
}

.c-contact__social__item {
  margin-top: 0.75rem;
}

.c-contact__social__item img {
  width: 2rem;
  height: auto;
}

.c-contact__form {
  background: linear-gradient(326deg, #670000 4.85%, #830101 103.25%);
  border-radius: 1rem;
  border: 1px solid #ffffff;
  box-shadow: 9px 14px 15.9px rgba(0, 0, 0, 0.8);
  width: 25rem;
  padding: var(--gap-medium);
  height: auto;
  display: grid;
  grid-template-rows: repeat(7, auto);

  justify-content: center;
}

.c-contact__form h3 {
  font-size: 3.5rem;
  font-family: "Iceland", serif;
  font-weight: 300;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}

.c-contact__form input {
  border: 1px solid white;
  border-bottom: none;
  height: 2rem;
  width: 100%;
  background-color: #00000000;
  padding: 10px;
  color: white;
}

.c-contact__form div:first-of-type input {
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);
}

.c-contact__form textarea {
  all: none;
  height: 2rem;
  width: 100%;
  background-color: #00000000;
  padding: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  height: 4rem;
  justify-content: left;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid white;
  overflow-y: auto;
  resize: none;
}

.c-contact__form textarea::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.c-contact__form textarea::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: var(--border-radius-small);
}

/* Handle on hover */
.c-contact__form textarea::-webkit-scrollbar-thumb:hover {
  background: #dbdbdb;
  cursor: default;
}

.c-contact__form textarea::placeholder,
.c-contact__form input::placeholder {
  color: white;
  opacity: 1;
}

.c-contact__form input:focus,
.c-contact__form textarea:focus {
  outline: none;
  background: linear-gradient(
    -45deg,
    var(--color-darkred) 30%,
    #c40000 103.25%
  );
  caret-color: white;
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.644);
}

.c-contact__form button {
  background-color: #00000000;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  border-radius: var(--border-radius-small);
  border: 1px solid white;
  height: 2rem;
  width: 8rem;
  margin: var(--gap-small) auto;
  cursor: pointer;
}

.c-contact__form button:hover {
  background: linear-gradient(
    -45deg,
    var(--color-darkred) 30%,
    #c40000 103.25%
  );
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.644);
}

.c-contact__form button img {
  height: auto;
  width: 1rem;
}

.c-contact__form a {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: var(--border-radius-small);
  background-color: #000;
  visibility: hidden;
}

.c-hidden {
  max-height: 0; /* Altura máxima para ocultar */
  overflow: hidden; /* Oculta o conteúdo que extrapola a altura */
  transition: max-height 0.5s ease; /* Transição suave */
}

.c-contact__visible {
  max-height: 100px; /* Altura máxima visível, ajuste conforme necessário */
  transition: max-height 0.5s ease; /* Transição suave */
}

.c-footer {
  margin-top: -5rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-footer__grid {
  font-family: "Lato", sans-serif;
  color: black;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: var(--gap-small);
  margin: auto;
  justify-items: center; 
  align-items: center; 
}

.c-footer p {
  font-size: 0.6rem;
}

.c-footer h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Iceland", serif;
  color: black;
}

.c-footer img{
  filter: invert(0%) brightness(0%);
}

.c-horizontal-line {
  width: 100%;
  height: 1px;
  border-radius: 30%;
  background-color: white;
}
