:root {
  --color-background: black;
  --color-text: white;
  --color-hover: #ff0000;
  --color-darkred: #630000;
  --transition-duration: 0.45s;
  --width-laptop: 78rem;
  --margin-laptop: 6rem;
  --gap-small: 0.85rem;
  --border-small: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  max-width: var(--width-laptop);
  margin: 0 var(--margin-laptop);
}

a {
  color: var(--color-text);
  text-decoration: none;
  transition: color var(--transition-duration) ease;
}

/* Navegação */
.c-navegation {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem 0 0.5rem 0;
  font-weight: 600;
}

.c-navegation__menu {
  display: flex;
  justify-content: flex-start;
}

.c-navegation__list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.c-navegation__item {
  cursor: pointer;
  transition: color var(--transition-duration) ease;
}

.c-navegation__item:hover {
  color: var(--color-hover);
}

/* Social Icons */
.c-navegation__social {
  display: flex;
  justify-content: flex-end;
}

.c-navegation__social__list {
  display: flex;
  gap: 0.1rem;
  list-style: none;
  margin: 0;
}

.social-contact__icon {
  width: 24px;
  height: 24px;
  margin-right: 1em;
}

.c-navegation__social__items a {
  transition: color var(--transition-duration) ease;
}

.c-navegation__social__items a:hover {
  color: var(--color-hover);
}

/* Introduction */

.c-introduction {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-small);
  align-items: center;
  padding: 5rem 0;
}

/* Introduction messages */

.c-introduction__message {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.c-introduction__message__container {
  display: grid;
  grid-template-columns: 32rem;
  gap: var(--gap-small);
}

.c-introduction__message p {
  font-size: 1.125rem;
  padding-right: 2rem;
}

.c-introduction__message p:nth-of-type(1) {
  font-style: normal;
}

.c-introduction__message span {
  background-color: var(--color-darkred);
  border-radius: 7.5rem 4px 7.5rem 4px;
}

.c-introduction__message a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3rem;
  background-color: #898989;
  border: white;
  border-style: solid;
  border-width: 1.5px;
  border-radius: var(--border-small);
  cursor: pointer;
  gap: 10px;
  font-weight: 600;
}

.c-introduction__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-introduction__image__container {
  display: grid;
  grid-template-columns: 26rem 3rem;
}

.c-introduction__image img {
  width: 26rem;
  height: 26rem;
  border-radius: var(--border-small) 0 0 var(--border-small);
}

.c-introduction__image span {
  width: 3rem;
  height: 100%;
  background-color: var(--color-darkred);
}
